<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD4wLXBE3a6R87WKTwXjPRkSOugwXNf76g</string>
	<key>GCM_SENDER_ID</key>
	<string>106558966363</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tobeto</string>
	<key>PROJECT_ID</key>
	<string>tobetoapp-5b412</string>
	<key>STORAGE_BUCKET</key>
	<string>tobetoapp-5b412.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:106558966363:ios:fae1c5fad556e79a660d7e</string>
</dict>
</plist>